<header>
    <rci-header (emitActive)="procesEmiter($event)"></rci-header>
</header>
<main class="MainContent">
    <div class="ListEmployee" *ngIf="cantEmployee>0">
        <div class="tagMenu">
            <h2>Afortunados</h2>
        </div>
        <mat-divider></mat-divider>
        <rci-employee *ngFor="let employee of employees" [emp]="employee"></rci-employee>
    </div>
    <div class="ListEmployee" *ngIf="cantEmployee===0">
        <div class="tagMenu">
            <h2>Afortunados</h2>
        
        </div>
        <mat-divider></mat-divider>
        <div class="sinEmpleados">
            <h4>No hay Empleados!</h4>
        </div>
    </div>
    <div class="RamdonContent">
        <button class="buttonRandom" mat-button mat-raised-button > Generar Aleatorio</button>
    </div>
</main>
