.MainContent{
    height: 87%;
    width: 97%;
    padding: 0px 15px;
    display: flex;
}


.MainContent .ListEmployee{
    width: 25%;
    height: 100%;
    overflow-y: scroll;
}

.disabledItem{
    width: 0% !important;
}

.updateItem{
    width: 100% !important;
}

.tagMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;

}

.tagMenu button{
    background: #024384;
    color: white;
    margin-right: 10px;
}

.tagMenu h2{
    margin: 0;
    padding-left: 10px;
}

.sinEmpleados{
    text-align: center;
    color: #024384 ;
}

.RamdonContent{
    width: 80%;
    height: 90vh;
    background: rgba(0, 0, 0, 0.1) url("../../assets/image/logo.png") no-repeat; background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RamdonContent .buttonRandom{
    background: lightgray;
    color: #024384;
    font-size: 38px;
    font-weight: bold;
    height: 100px;
    border: 1px solid #024384;
    
}

.employeeItem{
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 2s ;
}

.dos{
    top: 15%;
    left: 10%;
    transition: all 2s ;
}

.uno{
    top: 10%;
    left:40%;
}

.tres{
    top: 15%;
    left:70%;
}

.cuatro{
    top: 28%;
    left: 5%;
}

.cinco{
    top: 28%;
    left: 72%;
}

.seis{
    top: 43%;
    left: 3%;
}

.siete{
    top: 43%;
    left: 75%;
}
.ocho{
    top: 60%;
    left: 5%;
}
.nueve{
    top: 60%;
    left: 72%;
}

.diez{
    top: 75%;
    left: 8%;
}

.once{
    top: 75%;
    left: 40%;
}
.doce{
    top: 75%;
    left: 70%;
}
.trece{
    top: 88%;
    left: 25%;
}

.catorce{
    top: 88%;
    left: 50%;
}